/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.executor = 'local'
includeConfig '../nextflow.config' 
// Default parameters for testing
params {
    token="NB2HI4DTHIXS6Y3JNRXWO33OFZXXEZZPN5QXK5DIGIXTMM3DME4DAZRQMNRTGZRUMI3TCMBYMQ2TENJUHAYDANRSHEYDONJ7OR4XAZJ5MFRWGZLTONKG623FNYTHI4Z5GE3TKNBVHE3DCOBVHE2TCJTWMVZHG2LPNY6XMMROGATGY2LGMV2GS3LFHU4TAMBQGAYA"
    // Output directory for test results
    outdir = "tests/test_results"

    // Default test parameters
    max_memory = '2.GB'
    max_cpus = 2
    max_time = '1.h'
    
    // Test-specific flags
    enable_conda = false
    singularity_pull_docker_container = false
}