/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.executor = 'local'
includeConfig '../nextflow.config' 
// Default parameters for testing
params {
    token=""
    // Output directory for test results
    outdir = "tests/test_results"

    // Default test parameters
    max_memory = '2.GB'
    max_cpus = 2
    max_time = '1.h'
    
    // Test-specific flags
    enable_conda = false
    singularity_pull_docker_container = false
}