includeConfig '../../../nextflow.config'

manifest {
    name            = 'PCGL Dependency checker'
    author          = """Edmund"""
    homePage        = """https://github.com/Pan-Canadian-Genome-Library/molecular-data-submission-workflow"""
    description     = """Dependency checker prior to running workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {

    outdir = "output"
    publish_dir_mode = "copy"

    local_directory="/Users/esu/Desktop/GitHub/pcgl/molecular-data-submission-workflow/"

    file_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Files.tsv"
    analysis_metadata = "${local_directory}test_data/modules/checkclinical/happy_path/Analysis.tsv"
    experiment_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Experiment.tsv"
    sample_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Sample.tsv"
    specimen_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Specimen.tsv"
    read_group_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Read_Group.tsv"
    workflow_metadata = "${local_directory}/test_data/modules/checkclinical/happy_path/Workflow.tsv"
    clinical_url = "https://submission.pcgl-dev.cumulus.genomeinformatics.org"
    file_manager_url = "https://file-manager.pcgl-dev.cumulus.genomeinformatics.org"
    token = "NNNN-NNNN-NNNN-NNNN"
    study_id = "EXAMPLE-CA"
    data_directory = "${local_directory}/test_data/modules/checkclinical/happy_path"

}