process {
    executor        = 'slurm'
    clusterOptions  = "--account=${System.getenv('SLURM_ACCOUNT')}"
    maxRetries      = 1
    errorStrategy   = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
    cpu             = 1
    time            = '3h'
    resourceLimits = [
            memory: 240.GB,
            cpus: 64,
            time: 168.h
        ]
}