/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal to Cumulus Dev environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines required url to various endpoint and services
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Cumulus Dev profile'
    config_profile_description = 'Cumulus Dev Prod profile to check pipeline function'

    // data staging params
    file_manager_url                   = "https://file-manager.pcgl-dev.cumulus.genomeinformatics.org"
    file_transfer_url                  = "https://file-transfer.pcgl-dev.cumulus.genomeinformatics.org"
    file_manager_url_upload            = "https://file-manager.pcgl-dev.cumulus.genomeinformatics.org"
    file_transfer_url_upload           = "https://file-transfer.pcgl-dev.cumulus.genomeinformatics.org"
    clinical_url                       = "https://submission.pcgl-dev.cumulus.genomeinformatics.org"
}