/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal to SD4H Dev environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines required url to various endpoint and services
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'SD4H Dev profile'
    config_profile_description = 'SD4H Dev Prod profile to check pipeline function'

    // data staging params
    song_url                   = "https://file-manager.submission.dev.pcgl.sd4h.ca"
    score_url                  = "https://file-transfer.submission.dev.pcgl.sd4h.ca"
    song_url_upload            = "https://file-manager.submission.dev.pcgl.sd4h.ca"
    score_url_upload           = "https://file-transfer.submission.dev.pcgl.sd4h.ca"
    clinical_submission_url    = "https://submission.submission.dev.pcgl.sd4h.ca"
}