/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal to SD4H Prod environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines required url to various endpoint and services
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'SD4H Prod profile'
    config_profile_description = 'SD4H Prod Prod profile to check pipeline function'

    // data staging params
    file_manager_url                   = null
    file_transfer_url                 = null
    file_manager_url_upload            = null
    file_transfer_url_upload           = null
    clinical_url    = null
}