/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal to SD4H Dev environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines required url to various endpoint and services
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'SD4H K8S Dev profile'
    config_profile_description = 'SD4H K8S Dev profile to check pipeline function'

    // data staging params
    file_manager_url             = "https://file-manager.submission.ingress.dev.k8s.pcgl.dev-sd4h.ca"
    file_transfer_url            = "https://file-transfer.submission.ingress.dev.k8s.pcgl.dev-sd4h.ca"
    file_manager_url_upload      = "https://file-manager.submission.ingress.dev.k8s.pcgl.dev-sd4h.ca"
    file_transfer_url_upload     = "https://file-transfer.submission.ingress.dev.k8s.pcgl.dev-sd4h.ca"
    clinical_url      = "https://submission.ingress.dev.k8s.pcgl.dev-sd4h.ca"
}