/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal to SD4H QA environment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines required url to various endpoint and services
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'SD4H QA profile'
    config_profile_description = 'SD4H QA Prod profile to check pipeline function'

    // data staging params
    song_url                   = null
    score_url                  = null
    song_url_upload            = null
    score_url_upload           = null
    clinical_submission_url    = null
}